body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 40%;
	background: #5d5f5f;
	margin: 10px auto;
	padding: 7px;
	overflow: hidden;
	border-radius: 4px;
}
.wrapper h2 {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px #ff0404;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    margin: 10px;
}
form {
	width: 90%;
	margin: auto;
}
.wrapper form label {
    width: 100%;
    font-size: 16px;
    text-shadow: 1px 1px 1px #2b2b2b;
    color: #fff;
    font-weight: bold;
}
.wrapper form input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #656262;
    margin: 5px 0;
}

.wrapper form p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #2b2b2b;
    font-size: 14px;
    margin-bottom: 3px;
}
.wrapper form select {
    border: 1px solid #222;
    font-size: 12px;
    padding: 2px;
    color: #545454;
    margin-bottom: 6px;
}
.wrapper input[type="radio"] {
	width: 2%;
}
.wrapper textarea {
    width: 100%;
    height: 80px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 2px #333;
    box-sizing: border-box;
    border-radius: 3px;
    resize: none;
    color: #ccc;
    margin-top: 7px;
    font-size: 16px !important;
}
.wrapper input[type="file"]{
    margin: 4px 0;
    padding: 0;
    border-bottom: 1px solid #bdbaba;
    color: #e6d0d0;
}
.wrapper input[type="submit"] {
    width: 30%;
    float: right;
    background: #3eff67;
    font-weight: bold;
    cursor: pointer;
    border-radius: 60px 0px;
    box-shadow: 1px 1px 1px #444;
    transition: all .3s ease;
    padding: 10px;
}
.wrapper p.error {
    color: #f00;
    font-style: italic;
    margin-left: 10px;
}
.wrapper input[type="submit"]:hover {
    border-radius: 0px 60px;
    background: #178a5a;
    color: #fff;
}