body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 70%;
	background: #3498db;
	border-radius: 4px;
	overflow: hidden;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}
.img img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 5px solid #fff;
}
h1 {
	color: #fff;
	font-size: 70px;
	margin: 0;
}
.content {
    width: 269px;
    overflow: hidden;
    margin: auto;
    color: #fff;
    text-align: left;
    font-size: 20px;
    border: 2px solid;
    padding: 10px;
    margin-top: 30px;
}
.content p {
	margin: 0px;
}